
body{
    background-color: rgb(51, 51, 51);
    justify-content: center;
}
a{
    
    text-decoration: none;
    color: black;
    padding: 80px;
    height: 90px;
    background-color: aliceblue;
    text-align: center;
}
.content{
    top: 75px;
    right: 20%;
    width: 60% ;
    min-width: 1px;
    display: grid;
    grid-template-columns: repeat(2, minmax(1px,2fr));
    gap: 15px;
    position: absolute;
}